# Configuration
.vscode
*.code-workspace
desktop.ini

# Output files
build

# Back-up files
sdkconfig.old

TODO.md
NOTES.md

# Other files and folders
Documentation (SDR, Layered structure, FSM etc.)
documentation
Organisation
System tests
Hardware
dev
ESP-IDF 4.4.lnk