# Configuration
.vscode
*.code-workspace
desktop.ini

# Output files
build

# Back-up files
sdkconfig.old

TODO.md
NOTES.md

# Other files and folders
Organisation
Outdated
Prototyping
System tests
documentation
System tests